h1 {
    font-size: 3em!important;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold!important;
}
.container {
	margin: 0 auto;
}
.tabla {
	background-color: #e3e2de;
	padding: 10px;
}
.section {
	font-family: 'Raleway', sans-serif;
}
.button{
    background-color: #7abb3b!important;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 0.75em 0.6em 0.6em!important;
    font-size: 1em;
    margin-top: 20px;
    border: none!important;
    transition: all .5s ease;
}
.button:hover {
	-webkit-transform: scale(1.1);
}
.campo {
	width: 100px;
	height: 120px;
}